@(id: Long, todoForm: Form[String])(implicit request: MessagesRequestHeader)

<html>
<head>
    <title>ToDo</title>
</head>
<body>

<h1>Todo Update</h1>

@helper.form(action = routes.ToDoController.todoUpdate(id)) {
@helper.CSRF.formField

<fieldset>

    @helper.inputText(todoForm("name"), '_label -> "Name")

</fieldset>

<input type="submit" value="update">

}

@helper.form(action = routes.ToDoController.todoDelete(id)) {
    @helper.CSRF.formField
    <input type="submit" value="delete" class="btn danger">
}

</body>
</html>