@import services._
@(items: Seq[ToDo])

<html>
    <head>
        <title>ToDo</title>
    </head>
    <body>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                @items.map { todo =>
                    <tr>
                        <td>
                            @todo.name
                        </td>
                    </tr>
                }
                </tbody>

                
            </table>
            <a href="/todo/new">Register Page</a>
        </section>

    </body>
</html>